<h2>{{this.requirement}}</h2>
<br>
<table>
    <tr>
        <th>AR</th>
        <th>DR</th>
        <th>AW</th>
        <th>DW</th>
    </tr>
    {{#each accessdata}}
    <tr>
        {{#each this}}
        <td>{{this}}</td>
        {{/each}}
    </tr>
    {{/each}}
    <tr>
        <td><form action="/google/updateaccesspolicy/{{this.requirement}}/ar", method="post">
        <input type="text" id="ar" name="ar"><br>
    <input type="submit" value="Add New AR">
        </form></td>
        <td><form action="/google/updateaccesspolicy/{{this.requirement}}/dr", method="post">
        <input type="text" id="dr" name="dr"><br>
    <input type="submit" value="Add New DR">
        </form></td>
        <td><form action="/google/updateaccesspolicy/{{this.requirement}}/aw", method="post">
        <input type="text" id="aw" name="aw"><br>
    <input type="submit" value="Add New AW">
        </form></td>
        <td><form action="/google/updateaccesspolicy/{{this.requirement}}/dw", method="post">
        <input type="text" id="dw" name="dw"><br>
    <input type="submit" value="Add New DW">
        </form></td>

</form>
    </tr>
</table>